<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.r2Phonegap.*"
        version     = "1.0.0">

    <name>R2 Phonegap</name>

    <description>
        Testing Phonegap Mobile App Build.
    </description>

    <author href="http://www.rights2.info/" email="info@rights2.info">
        R2 Phonegap Test
    </author>
    
    <access origin="*"/>
    
    <preference name="deployment-target" value="7.1.2" />

</widget>
